.clock {
    position: absolute;
    top: 12%;
    right: -2%;
    transform: translateX(-50%) translateY(-50%);
    color: #1d2838;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 7px;
}